.footer {
  padding: 35px 0 40px 0;
  background-color: #606c38;
}

.footerInner {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerItemLeft {
  display: flex;
  align-items: center;
  gap: 0 93px;
}

.footerItemRight {
  display: flex;
  align-items: center;
}

.footerLogo {
  color: #dda15e;
  font-size: 40px;
  font-weight: 800;
  line-height: 77.45px;
}

.footerLinks {
  display: flex;
  gap: 0 30px;
}

.footerNavButton {
  font-size: 24px;
  font-weight: 300;
  line-height: 29.05px;
  color: #fefae0;
}

.footerAddress {
  max-width: 220px;
  text-align: center;
}

.footerButton {
  padding: 18px 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bc6c25;
  border-radius: 80px;
  color: #fefae0;
  transition: all 0.3s;
}

.footerButton:hover {
  background-color: #dda15e;
  color: #606c38;
}

.footerSocialLinks {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.footerPhone {
  margin-bottom: 15px;
  color: #fefae0;
}

@media screen and (max-width: 1440px) {
  .footerItemLeft {
    gap: 0 70px;
  }
}

@media screen and (max-width: 1200px) {
  .footerLinks {
    flex-wrap: wrap;
  }

  .footerSocialLinks img {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 992px) {
  .footerInner {
    flex-direction: column;
  }

  .footerItemRight {
    width: 100%;
    justify-content: space-between;
  }

  .footerLinks {
    justify-content: space-between;
    gap: 0 15px;
  }
  .footerInner {
  }

  .footerItemLeft {
    justify-content: space-between;
    width:100%;
    gap: 0;
  }
}

@media screen and (max-width: 576px) {
  .footerInner {
    gap: 30px 0;
  }

  .footerItemLeft {
    flex-direction: column;
  }

  .footerItemRight {
    flex-direction: column;
    gap: 15px 0;
  }

  .footerLinks {
    align-items: center;
    flex-direction: column;
    gap: 15px 0;
  }
}
