.mobileMenu {
    padding-top: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #dda15e;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
}

.mobileMenu.open {
    transform: translateY(0);
}

.mobileMenuLink {
    font-size: 24px;
    color: #606c38;
}
